
body {
    margin: 40px;
    background-color: #cce6ff;
    font-family: Helvetica, Arial, Calibri, sans-serif;
}

.stepInstruction {
    font-size: 14;
    background-color: #80bfff;
    padding: 20px;
    box-shadow: 10px 10px 5px grey;
    margin-top: 30px;
    margin-bottom: 30px;

}

.logoBackground {
    background-color: white;
    border-style: solid;
    border-color: lightblue;
}

.innerList {
    margin-top: 20px;
    margin-bottom: 20px;
}

.listImage {
    list-style-type: none;
}

.rightImage {
    margin-top: 20px;
    float: right;
}

h2 {
    text-align: left;
}
p {

}
